*{ padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
body { background: #4BF4F7; }

/* Header */ /*  ------------------------------------------------------------------------------------------------------------------  */

.cont-100porcem {

background: hsla(221, 45%, 73%, 1);

background: linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);

background: -moz-linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);

background: -webkit-linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);}

.flex-header {
    display: inline-flex; justify-content: space-around;
    box-shadow: 8px 3px 8px 0px black; margin: 0px 0 45px 0 !important; 
} 

.Logo { display: flex; flex-direction: column; margin: 8px 2%; color: snow; }
.Logo h1 { font-family: 'Libre Baskerville', serif; font-weight: bold; font-style: italic; }
.Logo h6 { font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 400; }

.menu { display: inline-flex; }
.menu ul{ display: inline-flex; }
.menu a { color: black; text-decoration: none;  flex-grow: 2; margin: auto 10px; }
.menu a li{ list-style-type: none; font-family: 'Passion One', cursive; color: snow; }
.menu a li:hover{ border-bottom: 2px solid; }

/* Header */ /*  ------------------------------------------------------------------------------------------------------------------  */


/* Bio  */ /*  ------------------------------------------------------------------------------------------------------------------  */

.cont-980 { background: none !important; min-width: 390px; }

.flex-bio { display: flex; flex-direction: column; }
.flex-bio .titulo { 
    margin: 0px 0 5px 0; font-size: 1.2em; height: 40px; border: none; border-radius: 16px 16px;
    background: hsla(221, 45%, 73%, 1); color: snow;
    background: linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);
    background: -moz-linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);
    background: -webkit-linear-gradient(180deg, hsla(221, 45%, 73%, 1) 27%, hsla(220, 78%, 29%, 1) 92%);}
.flex-bio .titulo h2 { font-size: 1.2em; display: flex; margin: 8px 60px; font-family: 'Dancing Script';  font-weight: bold; font-style: italic; }

.flex-bio div {  margin: 0px auto 60px auto; border-radius: 12px 12px; display: flex; flex-direction: row; flex-wrap: wrap;
    background: linear-gradient(225deg, hsla(71, 80%, 72%, 0.6) 17%, hsla(36, 75%, 77%, 0.4) 52%, hsla(36, 78%, 67%, 0.4) 98%);
    background: -moz-linear-gradient(225deg, hsla(71, 80%, 72%, 0.6) 17%, hsla(36, 75%, 77%, 0.4) 52%, hsla(36, 78%, 67%, 0.4) 98%);
    background: -webkit-linear-gradient(225deg, hsla(71, 80%, 72%, 0.6) 17%, hsla(36, 75%, 77%, 0.4) 52%, hsla(36, 78%, 67%, 0.4) 98%);
    box-shadow: 2px 5px 4px  black; } 
.flex-bio div img{ height: 540px; margin: 100px 20px 20px 40px; box-shadow: 3px 2px 4px 0px black; border-radius: 12px;  }
.flex-bio div  p { max-width: 455px;
    text-align: justify; font-family: 'Open Sans', sans-serif; line-height: 1.4em; margin: 35px 30px;
    margin-bottom: 32px;  background: #00000027; padding: 30px; border-radius: 18px; box-shadow: 3px 2px 4px 0px black; }

/* Bio  */ /*  ------------------------------------------------------------------------------------------------------------------  */


/* Projetos  */ /*  ------------------------------------------------------------------------------------------------------------------  */

.cont-1200 {  }

.proj { display: flex; background-color: #457b9d !important; border-radius: 66px; box-shadow: 3px 2px 4px 0px black; }
.proj article{ margin: 2px auto; max-width: 980px;  }
.proj article h2{ margin: 20px 2% 4px 2%; max-width: 781px;
    min-height: 30px; align-items: center; border-radius: 16px;
    background: rgba(255, 255, 255, 0.568); text-align: center;}

    .proj article h5{ margin: 20px auto 40px auto;  
    min-height: 34px; border-radius: 16px; max-width: 680px;
    background: rgba(255, 255, 255, 0.479); align-items: center; text-align: center;}

.proj article div h4{  margin: 10px 2%; text-align: center; }
.proj article div img{   margin: 4px auto; padding: 0 2%; border-radius: 16px; max-width: 814px; width: 100%; }
.proj article p{ margin: 12px 0px 42px 0px; max-width: 814px; text-align: justify; max-width: 814px; padding: 0 2%;}

/* Projetos  */ /*  ------------------------------------------------------------------------------------------------------------------  */